In [11]:
# import necessary packages
import numpy as np
import pandas as pd

In [12]:
# import csv
rents = pd.read_csv('assignment-01/rents.csv') # path relative to notebook file
rents.head()

     city     rent   br      sqft
0  Boston  $675.00  1.0   560 ft2
1  Boston  $772.00  1.0   608 ft2
2  Boston  $789.00  1.0   618 ft2
3  Boston  $795.00  1.0   622 ft2
4  Boston  $800.00  1.0   629 ft2

In [13]:
# rename the columns
rents = rents.rename(columns={'rent':'rent_dollars', 'br':'no_bedrooms', 'sqft':'squarefeet'})

# made an array of column names that will be referenced multiple times
key_cols = ['rent_dollars', 'no_bedrooms', 'squarefeet']

In [14]:
# fill NA values with 0s across all key columns
rents[key_cols] = rents[key_cols].apply(lambda d: d.fillna(0))

In [16]:
# clean up the rent column so that there are no longer dollar signs
rents['rent_dollars'] = rents['rent_dollars'].str.replace('$', '').str.strip()

In [16]:
# clean up the square feet column so there is no longer the unit reference
rents['squarefeet'] = rents['squarefeet'].str.replace(" ft2", '').str.strip()

In [16]:
# change type of all key columns to float
rents[key_cols] = rents[key_cols].apply(lambda d: d.astype(float))